.landingPage {
   
   display: flex;
   height: 550px;
   color:#2699FB;
   .container-body {
      width: 100%;
      height: 100%;
      display: flex;
      background-color: #2699FB;
   }
.container-body{
      display: grid;
   }
   .digit-counter{
      .counter {
         text-align: center;
      }
      .button-set {
         display: flex;
         .decrement-btn {
            width: 100%;
            text-align: center;
         }
         .reset-btn {
            width: 100%;
            text-align: center;
         }
         .increment-btn {
            width: 100%;
            text-align: center;
         }
      }
   }
}